// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  display: block;
  margin: 0% 0% 3% 0%;
}
h2{
  display: inline-block;
  margin: 0% 3% 0% 0%;
}
main ul li ul li p{
  width:26%;
  margin: 0% 0% 0% 66%;
}
main ul li ul li p a{
  margin: 0% 0% 0% 2%;
}